<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/awacs84">Dmitryi</a>, an anspiring web developer who enjoys writing code at 3 am.
  </p>
  <br />
  <p>
    At on point he will become a coach for Firehose Project, in order to help other students with online coding.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'dmitryi.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dmitryi Yeremin</h2>
      <br />
      <p>
        Dmitryi has proudly served in the military and has worked overseas as defense contractor with <a target="_blank" href="http://www.fluor.com/">Fluor Corporation</a> and currently works as Air Operations Specialist at <a target="_blank" href="https://www.apllogistics.com/">APL Logistics</a>. In an earlier life, he traveled to many parts of the world using <a target="_blank" href="http://www.couchsurfing.com">Couchsurfing.com</a> website, which allows one to find living accomodations for free.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>
